<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${pageMetadata.title}">Temp Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{~/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{~/css/main.css}"/>
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
<div class="container">
    <h3 th:text="${pageMetadata.title}">Temp Title</h3>

    <div class="row">
        <div>
            <form id="mainForm" th:object="${bean}" th:action="@{save}" method="post">
                <input type="hidden" th:field="*{id}" class="form-control"/>
                <div class="row">

                    <div th:each="propertyContainer : ${propertyContainers}" class="col-md-4">
                        <!--Decide the property type: single text box/comboBox/datetime so far-->
                        <div th:switch="${propertyContainer.type}">
                            <label th:text="${propertyContainer.propertyCaption}"></label>
                            <div th:case="'datetime'">
                                <input type="date"
                                       th:id="${propertyContainer.propertyName}"
                                       th:name="${propertyContainer.propertyName}"
                                       th:value="${#dates.format(propertyContainer.propertyValue, 'yyyy-MM-dd')}"
                                       class="form-control"
                                       th:placeholder="${propertyContainer.propertyCaption}"/>
                            </div>
                            <div th:case="'text'">
                                <input type="text"
                                       th:id="${propertyContainer.propertyName}"
                                       th:name="${propertyContainer.propertyName}"
                                       th:value="${propertyContainer.propertyValue}"
                                       class="form-control"
                                       th:placeholder="${propertyContainer.propertyCaption}"/>
                            </div>
                            <div th:case="'combo'">
                                <select th:id="${propertyContainer.propertyName}"
                                        th:name="${propertyContainer.propertyName}"
                                        th:value="${propertyContainer.propertyValue}"
                                        class="form-control">
                                    <option th:each="beanContainer : ${propertyContainer.beanContainers}"
                                            th:value="${beanContainer.id}"
                                            th:text="${beanContainer.caption}"
                                            th:selected="${beanContainer.id == propertyContainer.propertyValue}">
                                    </option>
                                </select>
                            </div>
                            <div class="yns-space-div"></div>
                        </div>
                    </div>
                </div>
                <div class="yns-space-div"></div>
                <div class="row">
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="Save"></input>
                        <a th:href="@{list}" class="btn btn-danger"
                           onclick="return confirm('Unsaved data will be lost.\nAre you sure to continue?');">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="yns-space-div"></div>
    <div class="yns-space-div"></div>
    <div class="yns-space-div"></div>

    <div class="row">
        <!--iterate through all linked entities-->
        <!--This is the table that includes the existing links between the parent entity and the child entity-->
        <th:block th:each="linkedPropertyContainer : ${linkedPropertyContainers}">
            <div class="row">
                <div class="col-md-4 pull-right">
                    <div class="row">
                        <p th:id="formPostConfirmation_ + ${linkedPropertyContainer.propertyName}"></p>
                    </div>
                    <div class="yns-space-div"></div>
                    <div class="row">
                        <div class="text-right">
                            <form th:id="ayncPostForm_ + ${linkedPropertyContainer.propertyName}"
                                  th:action="@{saveLink}" action="#" method="post">

                                <!--Do not show the select if it is disabled-->
                                <div th:if="${linkedPropertyContainer.isSelectEnabled()}">
                                    <div class="col-md-8">
                                        <select th:id="asyncPostFormSelectField_ + ${linkedPropertyContainer.propertyName}"
                                                th:name="asyncPostFormSelectField_ + ${linkedPropertyContainer.propertyName}"
                                                th:value="${linkedPropertyContainer.childId}"
                                                class="form-control">
                                            <option th:each="beanContainer : ${linkedPropertyContainer.beanContainers}"
                                                    th:value="${beanContainer.id}"
                                                    th:text="${beanContainer.caption}">
                                            </option>
                                        </select>
                                    </div>

                                    <!--The hidden field to maintain the owning entity ID-->
                                    <input th:id="asyncPostFormSelectParentFieldValue_ + ${linkedPropertyContainer.propertyName}"
                                           th:name="asyncPostFormSelectParentFieldValue_ + ${linkedPropertyContainer.propertyName}"
                                           th:value="${linkedPropertyContainer.parentId}"
                                           type="hidden"/>
                                    <!--The hidden field to maintain the owning entity type-->
                                    <input th:id="asyncPostFormParentFieldType_ + ${linkedPropertyContainer.propertyName}"
                                           th:name="asyncPostFormParentFieldType_ + ${linkedPropertyContainer.propertyName}"
                                           th:value="${linkedPropertyContainer.parentType}"
                                           type="hidden"/>
                                    <!--The hidden field to maintain the child entity type-->
                                    <input th:id="asyncPostFormChildFieldType_ + ${linkedPropertyContainer.propertyName}"
                                           th:name="asyncPostFormChildFieldType_ + ${linkedPropertyContainer.propertyName}"
                                           th:value="${linkedPropertyContainer.childType}"
                                           type="hidden"/>

                                    <input type="submit" name="action"
                                           class="col-md-3 btn btn-primary"
                                           value="Add & save"></input>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="yns-space-div"></div>

            <!--populate the table-->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding-left: 5px;">
                        <label th:text="${linkedPropertyContainer.propertyCaption}"></label>
                        <!--set the id to make the table name unique-->
                        <table th:id="linkTable_ + ${linkedPropertyContainer.propertyName}" class="table table-striped">
                            <tr th:each="item : ${linkedPropertyContainer.propertyContainers}">
                                <td th:text="${item.propertyValue}"></td>
                            <tr>
                        </table>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{~/js/main.js}"></script>
</html>
